@import url(/null.css);

.block {
	width: 400px;
	height: 400px;
	background-color: blue;
	margin-left: 25px;
	position: relative;
	perspective: 450px;
}


.block__item {
	background: rgb(143, 2, 2);
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	margin-left: 55px;
	/* transform: translate(50%, 50%); */
	/* transform: scale(1, 0.5); */
	transform: rotateX(45deg);
	/* transform: skew(-30deg);
	transition: all 3s ease 0s;
	position: relative;
	top: 10px;
	left: 10px; */
	/* transform-origin: 100px 5px;
	transition: all 0.8s ease 0s;
	transform: rotate(0deg); */
}

.block__item:hover {

	/* transform: rotate(30deg); */
}

[class*="__container"] {
	max-width: 400px;
	margin: 0 auto;
}