/* ```JSON             Основа для снипета для not last child под scss
"Not last child": {
        "scope": "scss",
        "prefix": "nlc",
        "body": "&:not(:last-child) {\n$0\n}",
        "description": " :not(:last-child)"
    },```
Буду скидывать то, что использую. Может, пригодится! А может это всё лохмачу бабушку)))
```JSON
"Column gap": {
        "scope": "scss",
        "prefix": "cg",
        "body": [
            "column-gap: $0px;"
        ],
        "description": "column-gap"
    },
    "Row gap": {
        "scope": "scss",
        "prefix": "rg",
        "body": [
            "row-gap: $0px;"
        ],
        "description": "row-gap"
    },
```
```JSON
"mmr nlc": {
        "prefix": "mmrnlc",
        "body": [
            "&:not(:last-child) {\n\tmargin: 0px $0px 0px 0px;\n}"
        ],
        "description": "mmr nlc"
    },
"flex wrap wrap": {
        "prefix": "fww",
        "body": [
            "flex-wrap:wrap;"
        ],
        "description": "flex-wrap:wrap"
    },
``` */




a {
	color: #000000;
	text-decoration: none;
}

.container {
	width: 1440px;
	font-family: 'Inter', sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 30px 0px;
}

.logos {
	height: 21px;
}

.header-section {
	display: flex;
	align-items: center;
}

.header-item {
	padding: 10px 15px;
	font-size: 14px;
	margin-left: 5px;
}

.header-item:hover {
	background-color: rgb(242, 250, 251);
	border-radius: 55px;
}

.btn {
	background-color: rgb(255, 255, 255);
}

.btn:hover {
	background-color: rgb(242, 250, 251);
}

.new {
	font-size: 58px;
	line-height: 70px;
	margin-top: 145px;
	margin-left: 56px;
	font-weight: 500;
}

.test {
	line-height: 20px;
	font-size: 16px;
	font-weight: 400;
	margin-left: 56px;
	margin-top: 20px;
}

.Explore {
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	width: 170px;
	height: 50px;
	border-radius: 200px;
	margin-left: 56px;
	margin-top: 20px;
}

.main {
	display: flex;
	justify-content: space-between;
	background-color: #DCE5E2;
	border-radius: 40px;
}

.shop {
	font-size: 42px;
	line-height: 52.5px;
	text-align: center;
	margin-top: 75px;
}

.info {
	display: block;
	text-align: end;
	font-size: 14px;
	line-height: 16.8px;
	margin: 70px 406px 90px 0px;
	font-weight: 400;


}

footer {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.laptop {
	width: 639px;
	height: 472px;
	border-radius: 45px;
	-webkit-box-shadow: -1px 5px 13px 9px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: -1px 5px 13px 9px rgba(0, 0, 0, 0.1);
	box-shadow: -1px 5px 13px 9px rgba(0, 0, 0, 0.1);
}

.laptopImg {
	max-width: 450px;
}

.laptopIm {
	margin-left: 30px;
	margin-top: 20px;
}

.lapIm {
	margin-left: 30px;
}

.phone {
	height: 472px;
	border-radius: 45px;
	-webkit-box-shadow: -1px 5px 13px 9px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: -1px 5px 13px 9px rgba(0, 0, 0, 0.1);
	box-shadow: -1px 5px 13px 9px rgba(0, 0, 0, 0.1);
}

.tabl {
	height: 472px;
	border-radius: 45px;
	-webkit-box-shadow: -1px 5px 13px 9px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: -1px 5px 13px 9px rgba(0, 0, 0, 0.1);
	box-shadow: -1px 5px 13px 9px rgba(0, 0, 0, 0.1);
}

.dur {
	margin-top: 40px;
	margin-bottom: 60px;
	text-align: center;
}

.watch {
	height: 472px;
	border-radius: 45px;
	-webkit-box-shadow: -1px 5px 13px 9px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: -1px 5px 13px 9px rgba(0, 0, 0, 0.1);
	box-shadow: -1px 5px 13px 9px rgba(0, 0, 0, 0.1);
}