@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  line-height: 1;
  font-size: 16px;
  height: 100%;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* *-№1 -* */
@media (max-width: 1140px) {
  [class*=__container] {
    max-width: 970px;
  }
}
/* *-№2 -* */
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
/* *-№3 -* */
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}
/*-----------*/
/*-----------*/
/* *-№1 -* */
@media (max-width: 1140px) {
  [class*=__container] {
    max-width: 970px;
  }
}
/* *-№2 -* */
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
/* *-№3 -* */
.block__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 -15px;
}
.block__item {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  min-width: 290px;
}

.item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1140px) {
  .item-block {
    max-width: 350px;
  }
}
.item-block__picture {
  padding-bottom: 74.286%;
}
.item-block__body {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #777;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.item-block__title {
  font-size: 25px;
  color: white;
}
.item-block__text {
  line-height: 1.5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: rgb(196, 196, 196);
}
.item-block__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 24px 24px 0;
}
.item-block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 40px;
  background-color: #34C759;
  color: #252525;
  font-size: 10px;
  line-height: 4;
  text-align: center;
  font-weight: 900;
  border-radius: 20px;
}
.item-block__button:hover {
  background-color: rgb(223, 223, 0);
}

.list {
  padding: 30px;
}
.list__item {
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.list__item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.list__item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.list__item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.list__item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.list__item:not(:last-child) {
  margin-bottom: 15px;
}
.list__link {
  color: white;
}
.list:hover .list__item {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}